fastapi
uvicorn
python-dotenv
groq
openai>=1.30.0
deepgram-sdk>=3.5.0
httpx==0.27.0
cohere>=5.9.0
qdrant-client>=1.11.0
firebase-admin
pydantic[email]
python-multipart

# LangGraph
langgraph>=0.2.0
langchain-core>=0.3.0
langchain-groq>=0.2.0
